.ReactTable {
  background-color: white;
}

.ReactTable .rt-thead {
  background-color: #e67e22;
  color: white;
  padding: 1rem 0;
  font-size: 1.5rem;
}

.ReactTable .rt-tbody .rt-td {
  align-self: center;
  font-size: 1rem;
  padding-left: 1rem;
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: solid .1rem #3e3e42;
}

.ReactTable .rt-tbody .rt-td:last-child {
  text-align: center;
}

.ReactTable .rt-th, .ReactTable .rt-td {
  overflow: unset;
}

@media (min-width: 767px) {
  .ReactTable {
    width: 50rem;
  }
  .ReactTable .rt-thead {
    background-color: #2c3e50;
    color: white;
    padding: 1rem;
    font-size: 2rem;
  }
  .ReactTable .rt-tbody .rt-td {
    text-align: left;
    font-size: 1.5rem;
  }
}
